.title {
    width: 70%;
    margin: 120px 15% 0 15%;
}
.title h1 {
    border: none;
    font-family: LittlePat;
    font-size: 60px;
    letter-spacing: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title #about {
    position: absolute;
    top: 110px;
    width: 120px;
    right: 18%;
}
.container {
    margin: 0 15%;
    width: 70%;
}
.contact {
    display: inline-block;
    font-family: LittlePat;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
.icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
    margin-right: 5px;
}
.icon-email {
    background: url('../images/mail.png') center no-repeat;
    background-size: 100%;
}
.icon-github {
    background: url('../images/github.png') center no-repeat;
    background-size: 100%;
}
.content a:hover {
    text-decoration: underline;
}

.reference {
    display: inline-block;
    margin: 100px 0;
    font-family: LittlePat;
    font-size: 28px;
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
}
.reference-model {
    display: none;
    position: absolute;
    top: 240px;
    left: 15%;
    width: calc(45vw);
    background: url('../images/reference.png') center no-repeat;
    background-size: 100% 90%;
    font-family: EBGaramond;
    font-size: 13px;
    padding-top: 18px;
    padding-bottom: 40px;
}
.reference-model p {
    margin-left: 27px;
    margin-right: 27px;
}
.reference:hover .reference-model {
    display: block;
}

#cloud1 {
    display: inline-block;
    position: fixed;
    width: calc(20vw);
    top: calc(4vh);
    left: calc(18vw);
    z-index: -1;
}
#cloud2 {
    display: inline-block;
    position: fixed;
    width: calc(20vw);
    top: calc(40vh);
    left: calc(60vw);
    z-index: -1;
}
.footer {
    position: fixed;
    bottom: 0;
}