.header .header-title {
    margin-top: calc(35vh);
    display: inline-block;
    width: 100%;
    font-size: 88px;
    font-weight: bold;
    text-align: center;
}
.header .header-desc {
    margin-top: calc(1vh);
    display: inline-block;
    width: 100%;
    font-family: FuturaLight;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

.left, .right {
    width: 40%;
    padding: 0 5%;
}

.project {
    margin: 80px 0;
    text-align: center;
    z-index: 500;
}
.project img {
    box-shadow: #999 1px 1px 6px;
}
.project img.mobile {
    border-radius: 42px;
}
.title {
    margin: 25px 0 0 0;
}
.desc {
    margin-bottom: 25px;
}

.project .pc {
    width: 100%;
    transition: 0.5s;
}
.project .pc:hover {
    width: 102%;
    margin-left: -1%;
    margin-top: -2.1%;
    cursor: pointer;
    transition: 0.5s;
}
.project .mobile {
    width: 50%;
    transition: 0.5s;
}
.project .mobile:hover {
    width: 52%;
    margin-top: -2%;
    cursor: pointer;
    transition: 0.5s;
}
.left .title.icon-down::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/down.png') center no-repeat;
    background-size: 100%;
}
.right .title.icon-up::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/up.png') center no-repeat;
    background-size: 100%;
}
.title {
    border: none;
}
.title span {
    display: inline-block;
}
.title span::after {
    content: '';
    position: relative;
    display: block;
    width: 0%;
    height: 15px;
    background-color: #51a6d3;
    top: -15px;
    z-index: -999;
    transition: 0.5s;
}
.title span.focus::after {
    width: 100%;
    transition: 0.5s;
}

#figure1 {
    display: inline-block;
    position: absolute;
    width: calc(41vh);
    top: calc(50vh);
    left: calc(10vw);
}
#figure2 {
    display: inline-block;
    position: absolute;
    width: calc(41vh);
    top: calc(6vh);
    right: calc(10vw);
}
#cloud1 {
    display: inline-block;
    position: fixed;
    width: calc(20vw);
    top: calc(9vh);
    left: calc(5vw);
    z-index: -1;
}
#cloud2 {
    display: inline-block;
    position: fixed;
    width: calc(20vw);
    top: calc(28vh);
    right: calc(10vw);
    z-index: -1;
}
#cloud3 {
    display: inline-block;
    position: fixed;
    width: calc(20vw);
    top: calc(62vh);
    left: calc(15vw);
    z-index: -1;
}